body {
  font-family: 'Optima', 'Arial', 'Helvetica', 'sans-serif';
  background: white;
}

a {
  color: gray;
}

pre {
  margin-left: 30px;
}

.mapInLesson {
  color: rgb(253, 46, 46);
}

.foldInLesson {
  color: blue;
}

.foldlInLesson {
  color: green;
}

.foldrInLesson {
  color: rgb(255, 100, 224);
}

#mapLesson {
  font-size: 1em;
}

.lesson-highlight {
   background: rgb(228, 246, 255);
}

.int {
  padding-right: 2px;
  padding-left: 2px;
}

.lines {
  font-family: monospace;
  padding: 1em;
  margin: 5em;
  /*box-shadow: 0 0 1.5px #777;*/
  margin: 1em 0;

  min-height: 220px;
}

#mapLines .lines {
  border: 1px solid rgb(253, 46, 46);
}

#foldrLines .lines {
  border: 1px solid rgb(255, 100, 224);
}

#foldlLines .lines{
  border: 1px solid green;
}

.lines-edit {
  font-size: 1em;
  color: #777;
  margin-left: 1em;
  cursor: pointer;
  text-decoration: underline;
}

.line.span {
  font-size: 23px;
}

.line-highlight {
  background: #fee;
}
.line-inner {
  position: relative;
}
.line-context {
  font-size: 1em;
  position: absolute;
  bottom: 0;
  right: 0px;
  color: #777;
  background: #fee;
  white-space: pre-line;
  padding: 0 5px;
}

.application {
  border: 1px solid white;
  border-radius: 20em;
  padding: 2px;
  display: inline-block;
  width:auto;
  background-color: deepskyblue;
  /*background:-moz-radial-gradient(center 45deg, ellipse closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background:-webkit-radial-gradient(center center, ellipse cover, rgba(75,190,200,.2), rgba(255,255,255,.5));
  background:radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);*/
}

@-webkit-keyframes bubblePop {
  0% {-webkit-transform:scale(.9);opacity:1}
  100% {-webkit-transform:scale(2);opacity:0}
}

@keyframes bubblePop {
  0% {-webkit-transform:scale(.9);font-size:8px;opacity:1}
  100% {-webkit-transform:scale(2);font-size:72px;opacity:0}
}

.bubble-pop {
  animation:bubblePop 0.25s  ease-in-out;
  -webkit-animation:bubblePop 0.25s ease-in-out;
  -o-animation:bubblePop 0.25s ease-in-out;
  -moz-animation:bubblePop 0.25s ease-in-out;
}

.application-applicable:hover {
  background: #fcc;
  cursor: pointer;
}

.application-highlight-clicked-computation,
.node-highlight-just-computed {
  background: #fcc;
}

.bubble-animation-enter {
  display:inline-block;
  /*max-width:0;
  max-height: 0;*/
  font-size: 0;
  padding: 0;
  border-width: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition:  all 0.2s;
  -webkit-transition:  all 0.2s;
  transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
}

.bubble-animation-enter-active {
  display:inline-block;
  /*max-height:200px;
  max-width: 500px;*/
  font-size: 12px;
  padding: 2px;
  border-width: 1px;
  transform: scale(1);
  -webkit-transform: scale(1);
}
.bubble-animation-leave {
  opacity: 1;
  display:inline-block;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition:  all 0.2s;
  -webkit-transition: all 0.2s;
}

.bubble-animation-leave-active {
  opacity: 0;
  display:inline-block;
  transform: scale(3);
  -webkit-transform: scale(3);
}

.lines-animation-enter {
  opacity: 0;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: none;
  transition: opacity 0.3s, transform 0.15s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.15s;
  -moz-transition: opacity 0.3s;
}
.lines-animation-enter-active {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: none;
}
.lines-animation-leave {
  transition: opacity 0.1s, transform 0.3s;
  -webkit-transition: opacity 0.1s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.1s;
}
.lines-animation-leave-active {
  opacity: 0;
  transform: translateY(200%);
  -webkit-transform: translateY(200%);
  -moz-transform: none;
}

.line-editing-container {
  position: relative;
}
.line-editing-error {
  position: absolute;
  top: 1.5em;
  background: #fcc;
}

input {
  margin: 0;
  padding: 0;
  font: 1em monospace;
  border: none;
  outline: none;
  background: none;
}
input.input-error {
  outline: 1px solid red;
}

.help-text {
  font: 0.7em Helvetica, sans-serif;
  margin-top: 0.5em;
  color: #777;
  width: 175px;
  text-align: center;
}

.function-editor-container {
  position: fixed;
  width: 23%;
  right: 10px;
  top: 0;
  bottom: 10px;
}

.function-editor-link {
  color: #777;
  cursor: pointer;
  font: 1em monospace;
  padding-left: 10px;
}

.function-editor-title {
  color:rgb(149, 105, 196);;
  font-weight:bold;
}

.function-editor-title-big{
  font-size: 1.3em;
}

.function-editor-top {
  position: absolute;
  top: 5px;
  left: 0;
}

.function-editor {
  box-shadow: 0 0 1.5px #777;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  bottom: 0;
  font: 1em monospace;
  border: 1px solid #ccc;
  padding: 10px;
  white-space: nowrap;
}

.function-editor:focus {
 box-shadow: 0 0 4px #007AFF;
 outline:none;
}

.function-editor-error {
  outline: 1px solid red !important;
}

.function-editor-error-message {
  position: absolute;
  left: -5px;
  margin-top: 40px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background: #fcc;
  font: 1em monospace;
  padding: 5px;
}
